services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "3000:3000"
    environment:

      # Add other env vars here or use env_file
    env_file:
      - .env.local
    depends_on:

    networks:
      - certify-network



networks:
  certify-network:
    driver: bridge


